*{
  margin: 0px;
  font-family: Arvo;
  overflow-x: hidden;
}

.topbod{
  background-color: #1F2937;
  color: white;
  height: 500px;
  overflow: hidden;
}

.topbod .lheader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.topbod .lheader .left-header{
  display: flex;
  margin: 10px;
  left: auto;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 24px;
  color: #F9FAF8;
  grid-gap: 500px;
  margin: auto;
}

.body-button{
  background-color: #3882F6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;
  margin-top: 10px;
}

a:hover, a:visited, a:link, a:active{
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
}

.tpbody body .body1 div .bod1-text .h1{
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
  font-family: Arvo;
  font-size: 48px;
}

.topbod .lheader .list-header{
  display: inline-flex;
  flex-direction: row;
  justify-content: wrap;
  align-items: flex-end;
  gap: 25px;
  list-style-type: none;
}

.topbod .lheader .left-header{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  float: left;
}

div .bod1-text{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.tpbody{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: -250px;
}

.tpbody .body1{
  display: flex;
  justify-content: flex-start;
  grid-column: 1;
  flex-direction: column;
}

.tpbody .body-img{
  grid-column: 2;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 400px;
  background-color: #F6ECEC;
  color: black;
  display: flex;
  text-align: center;
  margin-top: 150px;
}

.ft{
  display: grid;
  text-align: center;
  padding-top: 20px;
}

.ft .body2 .h3{
  display: flex;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: 1F2937;
}

.ft .boxes #ct1{
  display: flex;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  flex-direction: row;
}

.ft .boxes .ct{
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 0;
  flex-wrap: nowrap;
  margin: 25px;
  height: auto;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 25%;
}

.ft .boxes{
  display: flex;
}

.quotebox{
  background-color: #3E5E7EB;
  margin: 0px;
}

.quotebox .quote{
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-size: 25px;
  border: 15px;
  padding: 50px;
  margin: 20px;
}

.quotebox .quote_left{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-size: 20px;
}

#cta{
  display: flex;
  background-color: #3882F6;
  border: 15px;
  border-radius: 7px;
  padding: 20px;
  margin: 50px;
  color: #F9FAF8;
  display: flex;
  width: 50%;
  align-items: stretch;
  margin-left: 250px;
  padding-left: 10px;
  overflow: auto;
}

#cta .cta_left{
  text-align: left;
  color: #F9FAF8;
  display: flex-start;
  flex-direction: row;
  width: 700px;
  padding-left: 50px;
}

#cta .cta-button{
  background-color: #3882F6;
  color: white;
  text-decoration: none;
  display: flex;
  font-size: 15px;
  border-radius: 7px;
  border-color: white;
  padding: 15px;
  white-space: nowrap;
  justify-content: center;
  width: 100%;
}

.center_foot{
  background-color: #1F2937;
  color: white;
  height: auto;
  width: auto;
  text-align: center;
  padding: 15px 32px;
}
